body {
	background-color:lightcyan;
	color: #800000;
	text-align: center;
	font-family: "Lucida Sans Unicode"

}

div {
	width:400px;
	padding: 30px;
	border:25px;
	border-color:white;
	margin:25px;
}

ol{
	text-align: center;
	list-style-position: inside;
}

#Alicia's{
	color:firebrick;

}
#paris{
	color: darkslategray
}

#guam{
	color:rebeccapurple;
}

#italy{
	color:mediumvioletred;
}

#spain{
	color:forestgreen;
}

#japan{
	color:firebrick;
}